*{
    margin: 0px;
    padding: 0px;
}
            /* banner section starts here */
.banner-container{
    height: 840px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-text{
    padding-left: 240px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    font-style: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 10px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
}
.btn{
    border: none;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    
}
.banner-image{
    padding: 30px 50px;
    margin: 46px 150px 0px 0px;
}
/* banner section end here */